/****** Object:  Database [aga-membership]    Script Date: 3/12/2026 10:46:06 AM ******/
CREATE DATABASE [aga-membership]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_1', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
ALTER DATABASE [aga-membership] SET COMPATIBILITY_LEVEL = 170
GO
ALTER DATABASE [aga-membership] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [aga-membership] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [aga-membership] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [aga-membership] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [aga-membership] SET ARITHABORT OFF 
GO
ALTER DATABASE [aga-membership] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [aga-membership] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [aga-membership] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [aga-membership] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [aga-membership] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [aga-membership] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [aga-membership] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [aga-membership] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [aga-membership] SET ALLOW_SNAPSHOT_ISOLATION ON 
GO
ALTER DATABASE [aga-membership] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [aga-membership] SET READ_COMMITTED_SNAPSHOT ON 
GO
ALTER DATABASE [aga-membership] SET  MULTI_USER 
GO
ALTER DATABASE [aga-membership] SET ENCRYPTION ON
GO
ALTER DATABASE [aga-membership] SET QUERY_STORE = ON
GO
ALTER DATABASE [aga-membership] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 100, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Schema [analytics]    Script Date: 3/12/2026 10:46:06 AM ******/
CREATE SCHEMA [analytics]
GO
/****** Object:  Schema [membership]    Script Date: 3/12/2026 10:46:06 AM ******/
CREATE SCHEMA [membership]
GO
/****** Object:  Schema [staging]    Script Date: 3/12/2026 10:46:06 AM ******/
CREATE SCHEMA [staging]
GO
/****** Object:  Table [membership].[chapter_membership_history]    Script Date: 3/12/2026 10:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [membership].[chapter_membership_history](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[AGAID] [int] NOT NULL,
	[ChapterID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Source] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [membership].[chapters]    Script Date: 3/12/2026 10:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [membership].[chapters](
	[ChapterID] [int] NOT NULL,
	[ChapterCode] [nvarchar](20) NULL,
	[ChapterName] [nvarchar](200) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](50) NULL,
	[ChapterRepID] [int] NULL,
	[Active] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChapterID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [membership].[members]    Script Date: 3/12/2026 10:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [membership].[members](
	[AGAID] [int] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[MiddleInitial] [nvarchar](10) NULL,
	[LastName] [nvarchar](100) NULL,
	[Nickname] [nvarchar](100) NULL,
	[Pronouns] [nvarchar](50) NULL,
	[LoginName] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[EmailAddress] [nvarchar](255) NULL,
	[CellPhone] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Address1] [nvarchar](200) NULL,
	[Address2] [nvarchar](200) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](50) NULL,
	[ZipCode] [nvarchar](20) NULL,
	[Country] [nvarchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[WorkTitle] [nvarchar](200) NULL,
	[Gender] [nvarchar](20) NULL,
	[MemberType] [nvarchar](50) NULL,
	[JoinDate] [date] NULL,
	[ExpirationDate] [date] NULL,
	[LastRenewalDate] [date] NULL,
	[ChapterID] [int] NULL,
	[EmergencyContactName] [nvarchar](200) NULL,
	[EmergencyContactRelationship] [nvarchar](100) NULL,
	[EmergencyContactPhone] [nvarchar](50) NULL,
	[EmergencyContactEmail] [nvarchar](255) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastUpdated] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AGAID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [membership].[membership_events]    Script Date: 3/12/2026 10:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [membership].[membership_events](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[AGAID] [int] NOT NULL,
	[EventType] [nvarchar](50) NOT NULL,
	[EventDate] [datetime2](7) NOT NULL,
	[Source] [nvarchar](50) NULL,
	[Details] [nvarchar](max) NULL,
	[OldExpiration] [date] NULL,
	[NewExpiration] [date] NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [staging].[memchap]    Script Date: 3/12/2026 10:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[memchap](
	[AGAID] [int] NULL,
	[MemberType] [nvarchar](50) NULL,
	[FirstName] [nvarchar](100) NULL,
	[MiddleInitial] [nvarchar](10) NULL,
	[LastName] [nvarchar](100) NULL,
	[Nickname] [nvarchar](100) NULL,
	[Pronouns] [nvarchar](50) NULL,
	[LoginName] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[EmailAddress] [nvarchar](255) NULL,
	[CellPhone] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Address1] [nvarchar](200) NULL,
	[Address2] [nvarchar](200) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](50) NULL,
	[ZipCode] [nvarchar](20) NULL,
	[Country] [nvarchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[WorkTitle] [nvarchar](200) NULL,
	[Gender] [nvarchar](20) NULL,
	[JoinDate] [date] NULL,
	[ExpirationDate] [date] NULL,
	[LastRenewalDate] [date] NULL,
	[ChapterID] [int] NULL,
	[EmergencyContactName] [nvarchar](200) NULL,
	[EmergencyContactRelationship] [nvarchar](100) NULL,
	[EmergencyContactPhone] [nvarchar](50) NULL,
	[EmergencyContactEmail] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_chapter_history_AGAID]    Script Date: 3/12/2026 10:46:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_chapter_history_AGAID] ON [membership].[chapter_membership_history]
(
	[AGAID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_chapter_history_ChapterID]    Script Date: 3/12/2026 10:46:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_chapter_history_ChapterID] ON [membership].[chapter_membership_history]
(
	[ChapterID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_chapters_ChapterRepID]    Script Date: 3/12/2026 10:46:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_chapters_ChapterRepID] ON [membership].[chapters]
(
	[ChapterRepID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_members_ChapterID]    Script Date: 3/12/2026 10:46:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_members_ChapterID] ON [membership].[members]
(
	[ChapterID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_members_EmailAddress]    Script Date: 3/12/2026 10:46:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_members_EmailAddress] ON [membership].[members]
(
	[EmailAddress] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_members_LastName]    Script Date: 3/12/2026 10:46:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_members_LastName] ON [membership].[members]
(
	[LastName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_membership_events_AGAID_EventDate]    Script Date: 3/12/2026 10:46:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_membership_events_AGAID_EventDate] ON [membership].[membership_events]
(
	[AGAID] ASC,
	[EventDate] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_membership_events_EventType]    Script Date: 3/12/2026 10:46:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_membership_events_EventType] ON [membership].[membership_events]
(
	[EventType] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_memchap_AGAID]    Script Date: 3/12/2026 10:46:06 AM ******/
CREATE NONCLUSTERED INDEX [IX_memchap_AGAID] ON [staging].[memchap]
(
	[AGAID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [membership].[chapter_membership_history] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [membership].[chapters] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [membership].[chapters] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [membership].[members] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [membership].[members] ADD  DEFAULT (sysdatetime()) FOR [LastUpdated]
GO
ALTER TABLE [membership].[membership_events] ADD  DEFAULT (sysdatetime()) FOR [EventDate]
GO
ALTER TABLE [membership].[membership_events] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [membership].[chapter_membership_history]  WITH CHECK ADD  CONSTRAINT [FK_chapter_membership_chapter] FOREIGN KEY([ChapterID])
REFERENCES [membership].[chapters] ([ChapterID])
GO
ALTER TABLE [membership].[chapter_membership_history] CHECK CONSTRAINT [FK_chapter_membership_chapter]
GO
ALTER TABLE [membership].[chapter_membership_history]  WITH CHECK ADD  CONSTRAINT [FK_chapter_membership_member] FOREIGN KEY([AGAID])
REFERENCES [membership].[members] ([AGAID])
GO
ALTER TABLE [membership].[chapter_membership_history] CHECK CONSTRAINT [FK_chapter_membership_member]
GO
ALTER TABLE [membership].[chapters]  WITH CHECK ADD  CONSTRAINT [FK_chapter_rep] FOREIGN KEY([ChapterRepID])
REFERENCES [membership].[members] ([AGAID])
GO
ALTER TABLE [membership].[chapters] CHECK CONSTRAINT [FK_chapter_rep]
GO
ALTER TABLE [membership].[members]  WITH CHECK ADD  CONSTRAINT [FK_member_chapter] FOREIGN KEY([ChapterID])
REFERENCES [membership].[chapters] ([ChapterID])
GO
ALTER TABLE [membership].[members] CHECK CONSTRAINT [FK_member_chapter]
GO
ALTER TABLE [membership].[membership_events]  WITH CHECK ADD  CONSTRAINT [FK_membership_events_member] FOREIGN KEY([AGAID])
REFERENCES [membership].[members] ([AGAID])
GO
ALTER TABLE [membership].[membership_events] CHECK CONSTRAINT [FK_membership_events_member]
GO
/****** Object:  StoredProcedure [membership].[sp_import_memchap]    Script Date: 3/12/2026 10:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [membership].[sp_import_memchap]
AS
BEGIN

SET NOCOUNT ON;

DECLARE @MergeResults TABLE
(
    ActionType NVARCHAR(10),
    AGAID INT,
    OldExpiration DATE,
    NewExpiration DATE,
    OldChapterID INT,
    NewChapterID INT
);

MERGE membership.members AS target
USING staging.memchap AS source
ON target.AGAID = source.AGAID

WHEN MATCHED THEN
UPDATE SET
    target.MemberType = source.MemberType,
    target.FirstName = source.FirstName,
    target.MiddleInitial = source.MiddleInitial,
    target.LastName = source.LastName,
    target.Nickname = source.Nickname,
    target.Pronouns = source.Pronouns,

    target.LoginName = source.LoginName,
    target.Status = source.Status,

    target.EmailAddress = source.EmailAddress,
    target.CellPhone = source.CellPhone,
    target.PhoneNumber = source.PhoneNumber,

    target.Address1 = source.Address1,
    target.Address2 = source.Address2,
    target.City = source.City,
    target.State = source.State,
    target.ZipCode = source.ZipCode,
    target.Country = source.Country,

    target.DateOfBirth = source.DateOfBirth,
    target.WorkTitle = source.WorkTitle,
    target.Gender = source.Gender,

    target.JoinDate = source.JoinDate,
    target.ExpirationDate = source.ExpirationDate,
    target.LastRenewalDate = source.LastRenewalDate,

    target.ChapterID = source.ChapterID,

    target.EmergencyContactName = source.EmergencyContactName,
    target.EmergencyContactRelationship = source.EmergencyContactRelationship,
    target.EmergencyContactPhone = source.EmergencyContactPhone,
    target.EmergencyContactEmail = source.EmergencyContactEmail,
    target.LastUpdated = @Now

WHEN NOT MATCHED BY TARGET THEN
INSERT (
    AGAID, MemberType,
    FirstName, MiddleInitial, LastName, Nickname, Pronouns,
    LoginName, Status,
    EmailAddress, CellPhone, PhoneNumber,
    Address1, Address2, City, State, ZipCode, Country,
    DateOfBirth, WorkTitle, Gender,
    JoinDate, ExpirationDate, LastRenewalDate,
    ChapterID,
    EmergencyContactName, EmergencyContactRelationship,
    EmergencyContactPhone, EmergencyContactEmail,
    CreatedDate, LastUpdated
)
VALUES (
    source.AGAID, source.MemberType,
    source.FirstName, source.MiddleInitial, source.LastName, source.Nickname, source.Pronouns,
    source.LoginName, source.Status,
    source.EmailAddress, source.CellPhone, source.PhoneNumber,
    source.Address1, source.Address2, source.City, source.State, source.ZipCode, source.Country,
    source.DateOfBirth, source.WorkTitle, source.Gender,
    source.JoinDate, source.ExpirationDate, source.LastRenewalDate,
    source.ChapterID,
    source.EmergencyContactName, source.EmergencyContactRelationship,
    source.EmergencyContactPhone, source.EmergencyContactEmail,
    SYSDATETIME(), SYSDATETIME()
)

OUTPUT
    $action,
    inserted.AGAID,
    deleted.ExpirationDate,
    inserted.ExpirationDate,
    deleted.ChapterID,
    inserted.ChapterID
INTO @MergeResults;

--------------------------------------------------
-- Log membership events
--------------------------------------------------

INSERT INTO membership.membership_events
(
    AGAID,
    EventType,
    EventDate,
    Source,
    OldExpiration,
    NewExpiration
)
SELECT
    AGAID,
    CASE
        WHEN ActionType = 'INSERT' THEN 'signup'
        WHEN ActionType = 'UPDATE' AND OldExpiration <> NewExpiration THEN 'renewal'
        WHEN ActionType = 'UPDATE' AND OldChapterID <> NewChapterID THEN 'chapter_change'
        ELSE 'update'
    END,
    SYSDATETIME(),
    'memchap_import',
    OldExpiration,
    NewExpiration
FROM @MergeResults;

--------------------------------------------------
-- Close previous chapter membership
--------------------------------------------------

UPDATE membership.chapter_membership_history
SET EndDate = CAST(SYSDATETIME() AS DATE)
WHERE AGAID IN
(
    SELECT AGAID
    FROM @MergeResults
    WHERE OldChapterID <> NewChapterID
)
AND EndDate IS NULL;

--------------------------------------------------
-- Insert new chapter membership record
--------------------------------------------------

INSERT INTO membership.chapter_membership_history
(
    AGAID,
    ChapterID,
    StartDate,
    Source
)
SELECT
    AGAID,
    NewChapterID,
    CAST(SYSDATETIME() AS DATE),
    'memchap_import'
FROM @MergeResults
WHERE NewChapterID IS NOT NULL
AND (OldChapterID <> NewChapterID OR ActionType = 'INSERT');

--------------------------------------------------
-- Clear staging
--------------------------------------------------

TRUNCATE TABLE staging.memchap;

END;
GO
ALTER DATABASE [aga-membership] SET  READ_WRITE 
GO

